<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>アヤメの予測</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron">
<h1>アヤメの予測</h1>
<form method="post" action="/">
  <div class="form-group">
    <label for="sl">がく片の長さ</label>
    <input class="form-control" type="number" step="0.1" name="sl" value="{{sl}}" required>
  </div>
  <div class="form-group">
    <label for="sl">がく片の幅</label>
    <input class="form-control" type="number" step="0.1" name="sw" value="{{sw}}" required>
  </div>
  <div class="form-group">
    <label for="sl">花弁の長さ</label>
    <input class="form-control" type="number" step="0.1" name="pl" value="{{pl}}" required>
  </div>
  <div class="form-group">
    <label for="sl">花弁の幅</label>
    <input class="form-control" type="number" step="0.1" name="pw" value="{{pw}}" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">予測</button>
  </div>
</form>
{% if pr != None %}
<p>予測結果は{{pr}}です。</p>
{% endif %}
</div>
</body>
